<h4>Log In to Your Account</h4>

<br>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <%= label_tag :username %>
    <%= text_field_tag name="user[username]" %>

    <%= label_tag :password %>
    <%= password_field_tag name="user[password]" %>

    <br><br>

    <%= submit_tag "Log In", class: "waves-effect waves-light btn" %>
<% end %>