<%= form_with model: @healthcare_team, local: true do |f| %>
    <%= f.hidden_field :patient_id, value: @patient.id %>
    <%= f.hidden_field :doctor_id, value: @doctor.id %>
        
    <div>
        <%= f.label :doctor, "What doctor specialty?" %>
        <%= f.collection_select :specialty, Doctor.specialties, :id, :fullname, prompt: 'Please select' %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>