<%= render partial: '/errors', locals: { record: @healthcare_team } %>

<%= form_with(model: @healthcare_team, url: edit_healthcare_team_path, method: "post", local: true) do |f| %>
    <%= f.hidden_field :patient_id, value: current_patient.id %>

    <div>
        <%= f.label :specialty, "What doctor specialty?" %>
        <%= f.collection_select :doctor, Doctor.specialties, :specialty, :specialty, prompt: 'Please select' %>
    </div>
    

    <div>
        <%= f.label :doctor_fullname, "Select your doctor preference" %>
        <%= f.collection_select :doctor_id, Doctor.by_specialty(:specialty), :id, :fullname, prompt: 'Please select' %>
    </div>

    <div>
        <%= f.label :appointment, "Appointment schedule preference" %>
        <%= f.date_field :appointment, min: DateTime.now %>
        <%= f.time_field :appointment, min: "T08:00:00", max: "T17:00:00" %>
    </div>

    <div>
        <%= f.submit "Next" %>
    </div>
<% end %>