<%= render partial: '/errors', locals: { record: @healthcare_team } %>

<%= form_with(model: [:patient, @healthcare_team], local: true) do |f| %>
    <%= f.hidden_field :patient_id, value: current_patient.id %>

    <div>
        <%= f.label :doctor_fullname, "Available In-Network Doctors" %>
        <%= f.collection_select :doctor_id, @doctors, :id, :fullname, prompt: 'Please select' %>
    </div>

    <div>
        <%= f.label :appointment, "Appointment schedule preference" %>
        <%= f.datetime_field :appointment, min: DateTime.now.beginning_of_day %>
    </div>

    <div>
        <%= f.submit "Schedule This Appointment" %>
    </div>
<% end %>