<% if @healthcare_team.appointment > DateTime.now %>
    <h5>You have an upcoming virtual appointment on:</h5>
<% else %>
    <h5>Your past visit on:</h5>
<% end %>

<h4><%= appointment_time(@healthcare_team) %></h4>
<h3><%= @healthcare_team.doctor_specialty %></h3>
<h4><%= @healthcare_team.doctor_fullname %></h4>
<h4><%= @healthcare_team.doctor_hospital %></h4>

<% if !@healthcare_team.test_result.nil? %>
    <h3>Test Result:</h3>
    <h4><%= @healthcare_team.test_result %></h4>
<% end %>

<% if !@healthcare_team.treatment_plans.nil? %>
    <h3>Treatment Plans:</h3>
    <h4><%= @healthcare_team.treatment_plans %></h4>
<% end %>

<% if !@healthcare_team.prescriptions.nil? %>
    <h3>Prescriptions:</h3>
    <h4><%= @healthcare_team.prescriptions %></h4>
<% end %>

<% if !@healthcare_team.billing.nil? %>
    <h3>Amount Due:</h3>
    <h4><%= @healthcare_team.billing %></h4>
<% end %>