<% if @healthcare_team.appointment > DateTime.now %>
    <h4>You upcoming virtual appointment</h4>
<% else %>
    <h4>Your past visit</h4>
<% end %>

<h6><b><%= appointment_time(@healthcare_team) %></b></h6>
<br>
<h6><b><%= @healthcare_team.doctor_specialty %></b></h6>
<h6><b>Doctor: </b><%= @healthcare_team.doctor_fullname %></h6>
<h6><b>Affiliated Hospital: </b><%= @healthcare_team.doctor_hospital %></h6>

<br>

<% if @healthcare_team.test_result %>
    <h6><b>Test Result: </b></h6>
    <p><%= @healthcare_team.test_result %></p>
<% else %>
    <p><i>Test result pending.</i></p>
<% end %>

<br>

<% if @healthcare_team.treatment_plans %>
    <h6><b>Treatment Plans: </b></h6>
    <p><%= @healthcare_team.treatment_plans %></p>
<% else %>
    <p><i>Treatment plans pending.</i></p>
<% end %>

<br>

<% if @healthcare_team.prescriptions %>
    <h6><b>Prescriptions: </b></h6>
    <p><%= @healthcare_team.prescriptions %></p>
<% else %>
    <p><i>Prescriptions on pending.</i></p>
<% end %>

<br>

<% if @healthcare_team.billing %>
    <h6><b>Amount Due: </b></h6>
    <p>$<%= @healthcare_team.billing %></p>
<% else %>
    <p><i>Billing pending.</i></p>
<% end %>