<%= form_with model: @patient, local: true do |f| %>
    <div>
        <%= f.label :firstname, "First Name" %>
        <%= f.text_field :firstname %>
    </div>

    <div>
        <%= f.label :lastname, "Last Name" %>
        <%= f.text_field :lastname %>
    </div>

    <div>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>

    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>

    <div>
        <%= f.submit "Confirm" %>
    </div>
<% end %>