<%= form_with model: [:user, @patient], local: true do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
        
    <div>
        <%= f.label :doctor, "Please select your pre-assigned General Practitioner" %>
        <%= f.collection_select :doctor_id, Doctor.general_practice, :id, :fullname, prompt: 'Please select' %>
    </div>

    <div>
        <%= f.label :medical_record, "Medical Record" %>
        <%= f.text_area :medical_record %>
    </div>

    <div>
        <%= f.label :test_results, "Test Results" %>
        <%= f.text_area :test_results %>
    </div>

    <div>
        <%= f.label :medications, "Medications" %>
        <%= f.text_area :medications %>
    </div>

    <div>
        <%= f.submit "Confirm" %>
    </div>
<% end %>