<%= form_with model: @patient, local: true do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
        
    <div>
        <%= f.label :doctor, "Please select your existing General Practitioner" %>
        <%= f.collection_select :doctor_id, Doctor.general_practice, :id, :fullname, prompt: 'Please select' %>
    </div>

    <div>
        <%= f.label :medical_record, "Medical and Surgical Histories" %>
        <%= f.text_area :medical_record %>
    </div>

    <div>
        <%= f.label :test_results, "Test Results" %>
        <%= f.text_area :test_results %>
    </div>

    <div>
        <%= f.label :medications, "Prescription and Non-Prescription Medications" %>
        <%= f.text_area :medications %>
    </div>

    <br>

    <div>
        <a class="waves-effect waves-light btn"><%= f.submit %></a>
    </div>
<% end %>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>