<%= form_with model: [:admin, @patient], local: true do |f| %>       
    <div>
        <%= f.label :medical_record, "Medical and Surgical Histories" %>
        <%= f.text_area :medical_record %>
    </div>

    <div>
        <%= f.label :test_results, "Test Results" %>
        <%= f.text_area :test_results %>
    </div>

    <div>
        <%= f.label :medications, "Prescription and Non-Prescription Medications" %>
        <%= f.text_area :medications %>
    </div>

    <div>
        <%= f.submit "Update Patient Information" %>
    </div>
<% end %>

<%= link_to "Back to Patient's Profile", admin_user_path(@patient.user) %>