<h4>Edit Patient Information </h4>

<%= render partial: '/errors', locals: { record: @patient } %>

<%= form_with model: [:admin, @patient], local: true do |f| %>       
    <div>
        <%= f.label :medical_record, "Medical and Surgical Histories" %>
        <%= f.text_area :medical_record %>
    </div>

    <div>
        <%= f.label :test_results, "Test Results" %>
        <%= f.text_area :test_results %>
    </div>

    <div>
        <%= f.label :medications, "Prescription and Non-Prescription Medications" %>
        <%= f.text_area :medications %>
    </div>

    <br>
    Patient Information was created at <%= date_and_time(@patient.created_at) %><br>
    Patient Information was updated at <%= date_and_time(@patient.updated_at) %><br>
    <br>

    <div>
        <%= f.submit "Update Patient Information", class: "waves-effect waves-light btn" %>
    </div>
<% end %>

<br>

<%= link_to "Back to Patient's Profile", admin_user_path(@patient.user), class: "waves-effect waves-light btn" %>

<br><br>