<h4>In-Network Doctors</h4>
<h6>Filter doctors by specialty:</h6>

<div>
    <%= form_tag("/doctors", method: "get") do %>
        <%= select_tag "specialty", options_from_collection_for_select(Doctor.specialties, :specialty, :specialty), prompt: 'Please Select' %>
        <br>
        <%= submit_tag "Filter", class: "waves-effect waves-light btn" %>
    <% end %>
</div>

<br>

<% @doctors.order(specialty: :asc).each do |doctor| %>
    <div>
        <i><%= doctor.specialty %></i> | <strong><%= link_to "#{ doctor.fullname }", doctor_path(doctor) %></strong>
    </div>
<% end %>

<br>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>