<h4>Welcome, <%= current_user.fullname %></h4>

<h5>Filter users type:</h5>
<%= form_tag("/admin/users", method: "get") do %>
    <%= select_tag "users_type", options_for_select(["Patients", "Doctors"]), prompt: 'All Users' %>

    <%= submit_tag "Filter" %>
<% end %>

<div>
    <% @users.each do |user| %>
        <%= link_to "#{user.fullname}", admin_user_path(user) %>
    <% end %>
</div>