<h4>Welcome, <%= current_user.fullname %></h4>
<h6>As an admin, you have privileges to access patients, doctors and care teams information.</h6>
<br>

<h6>List of users. Filter users type:</h6>

<div>
    <%= form_tag("/admin/users", method: "get", class: "col s12") do %>
        <%= select_tag "users_type", options_for_select(["Patients", "Doctors"]), prompt: 'All Users', class: "browser-default" %>
        <br>
        <%= submit_tag "Filter", class: "waves-effect waves-light btn" %>
    <% end %>
</div>

<br>

<div>
    <% @users.each do |user| %>
        <%= link_to "#{user.fullname}", admin_user_path(user) %> |
    <% end %>
</div>

<br>