<!DOCTYPE html>
<html>
  <head>
    <title>PlanMyMdVisit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <nav>
    <div>
      <% if logged_in? && current_patient %>
        <%= link_to "Home", user_patient_path(current_user, current_patient) %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= button_to "Log Out", logout_path, method: "delete" %>
      <% else %>
        <%= link_to "Home", root_path %>
        <%= link_to "Login", signin_path %>
      <% end %>
    </div>
  </nav>

  <body>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>

    <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

    <div class="footer">
      <small>&copy; 2021 <strong>Plan My MD Visit</strong></small>
    </div>
  </body>
</html>