<!DOCTYPE html>
<html>
  <head>
    <title>PlanMyMdVisit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--
    Import Google Icon Font
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    Import materialize.css
    <link type="text/css" rel="stylesheet" href="app/assets/stylesheets/css/materialize.css" media="screen,projection"/>
    -->
  </head>

  <body>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <% if !current_user %>
            <a href="<%= root_url %>">Home</a>
            <a href="/signin">Login</a>
          <% else %>
            <a href="<%= user_patient_path(current_user, current_patient) %>"><%= current_user.firstname %>'s Profile</a>
            <%= button_to 'Log Out', logout_path, method: :delete %>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>

    <!--Import jQuery before materialize.js
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="app/assets/stylesheets/js/materialize.min.js"></script>
    -->

    <div class="footer">
      <small>&copy; 2021 <strong>Plan My MD Visit</strong></small>
    </div>
  </body>
</html>