<!DOCTYPE html>
<html>
  <head>
    <title>PlanMyMdVisit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">plan my MD visit</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if logged_in? && current_patient %>
          <li><%= link_to "Home", homepage_path, class: "waves-effect waves-light btn" %></li>
          <li><%= link_to "Care Team", patient_healthcare_teams_path(current_patient, current_patient.healthcare_teams), class: "waves-effect waves-light btn" %></li>
          <li><%= link_to "Doctors", doctors_path, class: "waves-effect waves-light btn" %></li>
          <li><%= link_to "Profile", user_path(current_user.id), class: "waves-effect waves-light btn" %></li>
          <li><%= button_to "Log Out", logout_path, method: "delete", class: "waves-effect waves-light btn" %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Login", signin_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Sign Up or Login with GitHub", "/auth/github" %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <body>
    
    <% flash.each do |type, msg| %>
      <div>
        <i><%= msg %></i>
      </div>
    <% end %>

    <!-- content -->
    <div>
      <%= yield %>
    </div>

    <div class="footer">
      <small>&copy; 2021 <strong>Plan My MD Visit</strong></small>
    </div>

  </body>
</html>