<!DOCTYPE html>
<html>
  <head>
    <title>PlanMyMdVisit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <div>
      <% if logged_in? && current_patient %>
        <%= link_to "Home", user_patient_path(current_user, current_patient) %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= button_to "Log Out", logout_path, method: "delete" %>
      <% else %>
        <%= link_to "Home", root_path %>
        <%= link_to "Login", signin_path %>
      <% end %>
    </div>
  </nav>

  <body>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>

    <div class="footer">
      <small>&copy; 2021 <strong>Plan My MD Visit</strong></small>
    </div>
  </body>
</html>